@charset "UTF-8";
header {
	height:100px;
}

.sign-up-box {
	width: 700px;
	padding: 40px 0px 40px 70px;
	border-radius: 10px;
	background-color: #f3f3f3;
}

#logo, #loginLink, #logoutLink {
	color:#000;
	text-decoration:none;
}

.input-module {
	margin-bottom: 15px;
}

.contents {
	height: 1000px;
}

#loginBox {
	height:300px;
}

.timeline {
	width:500px;
	min-height:700px;
	outline: 2px solid #f0f0f0;
	border-radius:5px;
}

#uploadForm {
	border:2px solid #000;
	border-radius: 15px;
	padding: 9px;
}

#uploadForm-text {
	border:none;
	height:auto;
	resize:none;
	width:100%;
}

#uploadForm-text:focus {
	outline:none;
}

#uploadForm .imgUploadBtn {
	width:25px;
	height:25px;
}

.pointer {
	cursor:pointer;
}

.timeline-img {
	width:inherit;
}

.nickname {
	font-weight:bold;
	width:100px;
}

.inline {
	white-space:nowrap;
}

<!-- -->

.text-wrap {
	word-break:break-all;
	word-wrap:break-word;
}