<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">

	<div class="timeline-box">
		<!-- 글쓰기 -->
		<div th:if="${session.userId != null}" class="p-2">
			<!-- 내용 입력란 -->
			<form id="uploadForm" method="post" action="/post/create">
				<textarea id="uploadForm-text" name="content" placeholder="내용을 입력해주세요." spellcheck="false"></textarea>
				
				<div class="d-flex justify-content-between align-items-center">
					<!-- file 태그를 숨겨두고 이미지를 클릭하면 파일을 클릭한 것과 같은 효과를 준다. -->
					<input name="file" type="file" id="file" accept=".jpg, .png, .gif" class="d-none">
					
					<img id="fileUploadBtn" src="/img/img-upload.png" title="사진 업로드" alt="사진 업로드" class="imgUploadBtn pointer">
					<div id="fileName" class="ml-2"></div>
					<button type="submit" class="btn btn-info">게시</button>
				</div>
			</form>
		</div>
		
		<!-- 타임라인 -->
		<article th:each="card : ${cardList}">
			<!-- 헤더(글쓴이) -->
			<div class="timeline-title bg-light d-flex justify-content-between align-items-center px-3">
				<!-- 타임라인 프사 -->
				<div th:with="empty='/img/empty-profile-img.png', imgPath=${card.getUser().getImgPath()}" class="d-flex align-items-center">
					<img th:src="${imgPath != null ? imgPath : empty}" width="30px">
					<span th:text="${card.getUser().getName()}" class="ml-3">글쓴이??</span>
				</div>
				
				<!-- 더보기 modal 창 -->
				<img th:if="${session.userId == card.post.userId}" src="/img/more-icon.png" title="더보기" class="pointer more-btn" alt="더보기" width="50px" data-toggle="modal" data-target="#modal" th:data-post-id="${card.post.id}">
			</div>
			
			<!-- 사진 -->
			<img th:src="${card.getPost().getImgPath()}" class="timeline-img" alt="타임라인 사진">
			<!-- 좋아요, 타임라인 글내용, 댓글 -->
			<div class="p-3">
				<!-- 좋아요 -->
				<div class="d-flex align-items-center">
					<img title="좋아요" class="pointer like-toggle-btn" th:src="${card.filledLike != null ? '/img/heart-icon (1).png' : '/img/heart-icon.png'}" th:data-post-id="${card.getPost().getId()}" alt="좋아요 하트" width="25px">
					<span class="ml-2" th:text="|좋아요 ${card.getLikeCount()}개|">좋아요 ?개</span>
				</div>
				<!-- 타임라인 텍스트 -->
				<div class="mt-1">
					<!-- 글쓴이 이름 -->
					<div class="nickname" th:text="${card.getUser().getName()}">글쓴이</div>
					
					<!-- 텍스트 -->
					<div th:text="${card.getPost().getContent()}" class="text-wrap mt-2"></div>
				</div>
				
				<!-- 댓글 -->
				<div class="comments">
					<div class="bg-light mt-2 p-1">댓글</div>
					
						<div th:each="comment : ${card.getComments()}" class="d-flex align-items-start mt-2">
							<!-- 댓글 프사 -->
							<div th:with="empty='/img/empty-profile-img.png', imgPath=${card.getUser().getImgPath()}">
								<img th:src="${imgPath != null ? imgPath : empty}" width="30px">
							</div>
							
							<!-- 댓글 닉네임, 내용 -->
							<div class="ml-3 w-100">
								<div class="nickname text-wrap" th:text="${comment.getUser().getName()}">닉네임</div>
								<div class="d-flex justify-content-between align-items-start">
									<div class="text-wrap" th:text="${comment.getComment().getContent()}">댓글 내용</div>
									
									<!-- 댓글 삭제 -->
									<img th:if="${session.userId == comment.getUser().getId()}" th:data-comment-id="${comment.getComment().getId()}" class="pointer comment-delete-btn" title="댓글 삭제" alt="댓글 삭제" th:src="@{/img/x-icon.png}" width="10px">
								</div>
							</div>
						</div>
				</div>
				
				<!-- 댓글 입력란 -->
				<div class="d-flex mt-2">
					<input class="form-control">
					<button type="submit" class="btn btn-light ml-3 inline comment-upload-btn"  th:data-post-id="${card.getPost().getId()}">게시</button>
				</div>
			
			</div>
			
		</article>
	
	
		<!-- Modal: 타임리프 레이아웃 때문에 section(fragment) 태그 안쪽에 위치 -->
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">
		  Launch demo modal
		</button>
		
		<!-- Modal -->
		<div class="modal fade" id="modal">
			<!-- modal-sm: 작은 모달창 -->
			<!-- modal-dialog-centered: 수직 기준 가운데 위치 -->
			<div class="modal-dialog modal-sm modal-dialog-centered">
				<div class="modal-content text-center">
		    		<div class="py-3">
		    			<span id="postDelBtn" class="pointer">삭제하기</span>
		    		</div>
		    		<div class="py-3 border-top">
		    			<!-- data-dismiss : 취소하는 기능 -->
		    			<span data-dismiss="modal" class="pointer">취소</span>
		    		</div>
				</div>
			</div>
		</div>
	
	
	
	</div>
</section>

<th:block layout:fragment="script">
    <script>
		$(document).ready(function() {
			
			// textarea 크기 자동 조절
			$("#uploadForm-text").on("input", function() {
				$(this).css("height", "auto");
				$(this).height(this.scrollHeight);
			}); 
			
			
			$("#uploadImage").on("click", function(e) {
				e.preventDefault();
				
				
				return;
			});
			
			// 사진 업로드 (이미지 클릭 시) => 숨겨져 있는 id="file" 동작
			$("#fileUploadBtn").on("click", function() {
				//alert("이미지");
				$("#file").click();
			});
			
			// 파일이 선택될 때 1) 유효성 체크 2) 파일명 노출
			$("#file").on("change", function(e) {
				if (e.target.files[0] == null) {
					$("#file").val(""); // 보이진 않지만 파일 태그에 올라온 것 제거
					$("#fileName").val(""); // 파일명 보여주는 것도 초기화
					return;
				}
				//alert("파일 선택");
				let fileName = e.target.files[0].name;
				//console.log(fileName);
				
				// 1) 유효성 체크
				let ext = fileName.split(".").pop().toLowerCase();
				//console.log(ext);
				
				if (ext != "gif" && ext != "png" && ext != "jpg") {
					alert("이미지 파일만 업로드 할 수 있습니다.");
					$("#file").val(""); // 보이진 않지만 파일 태그에 올라온 것 제거
					$("#fileName").val(""); // 파일명 보여주는 것도 초기화
					return;
				}
				
				// 2) 파일명을 노출
				$("#fileName").text(fileName);
				
			});
			
			// 글 게시
			$("#uploadForm").on("submit", function(e) {
				e.preventDefault();
				//alert("");
				let file = $("#file").val();
				//console.log(file);
				
				
				if (!file) {
					alert("이미지를 선택해주세요");
					return;
				}
				
				let formData = new FormData();
				formData.append("content", $("#uploadForm-text").val())
				formData.append("file", $("#file")[0].files[0]);
				
				$.ajax({
					type:"post"
					, url:"/post/create"
					, data:formData
					, processData:false
					, contentType:false
					, enctype:"multipart/form-data"
					, success:function(data) {
						if (data.code == 200) {
							location.reload();
						} else if (data.code == 403) {
							alert("로그인 후 이용해주세요.");
						} else if (data.code == 500) {
							alert(data.error_message);
						}
					}
					, error:function(e) {
						alert("글 작성 실패");
					}
				});
			}); // 게시 이벤트 종료
			
			$(".comment-upload-btn").on("click", function() {
				//alert("클릭");
				let comment = $(this).siblings("input").val().trim(); // 형제 태그를 가져오기 siblings() 는 형제 모두를 가져온다. () 안에 셀렉터 문법으로 지정하면 됨.
				//let comment = $(this).prev().val().trim(); // 바로 이전 태그를 가져오기
				let postId = $(this).data("post-id");
				
 				if (!comment) {
					return;
				}
				
				
				$.ajax({
					type:"post"
					, url:"/comment/create"
					, data:{"comment":comment, "postId":postId}
					, success:function(data) {
						if (data.code == 200) {
							location.reload();
						} else if (data.code == 403) {
							alert(data.error_message);
						} else if (data.code == 500) {
							alert(data.error_message);
						}
					}
					, error:function(e) {
						alert("실패");
					}
				})
				
				
			}); // 댓글 작성 완료
			
			
			// 댓글 삭제
			$(".comment-delete-btn").on("click", function() {
				
				let commentId = $(this).data("comment-id");
				
				$.ajax({
					type:"DELETE"
					,url:"/comment/delete"
					,data:{"commentId":commentId}
					,success:function(data) {
						if (data.code == 200) {
							alert(data.result);
							location.reload();
						} else {
							alert(data.error_message);
						}
					}
					,error:function(e) {
						alert("실패");
					}
					
				})
				
			}); // 댓글 삭제 종료
			
			
			// 좋아요 토글
			$(".like-toggle-btn").on("click", function() {
				
				$.ajax({
					type:"get" // 생략하면 기본적으로 get 방식임.
					,url:"/like/" + $(this).data("post-id")
					,success:function(data) {
						if (data.code == 200) {
							location.reload(true);
						} else {
							alert(data.error_message);
						}
					}
					,error:function(e) {
						alert("실패");
					}
				})
			}); // 좋아요 종료
			
			// 더보기 ... 클릭 => 1) 모달 뜸 2) postId를 modal창에 심기
			$(".more-btn").on("click", function() {
				let postId = $(this).data("post-id");
				
				// 1개만 존재하는 modal창을 재활용하기 위해 modal창의 data-post-id 를 심어서 쓴다.
				$("#modal").data("post-id", postId);
			});
			
			
			
			
		}); // document ready 종료
    </script>
</th:block>